.dados{width:48%; float:left; height:auto; border:1px solid #ccc; background:#f1f1f1; margin:0px 5px 0px 0px; padding:5px; float:left;}
.dados span{font-style:italic; color:#000;}

#imagens{height: 41px;}

.fotos{width:100%; margin:0px; padding:0px; float:left; height:auto; list-style:none;}
.fotos li{width:130px; height:130px; border:1px solid #ccc; float:left; margin:2px 0px 0px 2px; padding:5px; background-color:#fff; position:relative;}

.img{width:120px; height:120px; background-repeat:no-repeat; background-position:center center;}

.fotos li:hover .delete {box-shadow:0px 0px 2px #999; display:block; }

.delete{background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #CCCCCC;
        bottom: 9px;
        left: 8px;
        padding: 1px;
        position: absolute;
        display:none;
        width:auto;
        height:auto;
}

.capaSel{border:1px solid #093 !important; background-color:#9CF !important;}

.txt{
    width:200px;
    height:180px;
    border:1px solid;
    box-shadow:0px 0px 2px #999;
    display:none;
    position:absolute;
    left:0px;
    top:-180px;
    border:1 solid #ccc;
    background:#fff;
}