.resposta {
  width: 524px!important;
}
#quantidade_campos{width: 520px!important}

.botao {
  width: 34px;
  height: 34px;
  background: url(/administrator/img/adicionarCampos.png);
  float: right;
  margin-top: -36px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
/*#correta {
  float: right;
  margin-top: -49px;
}*/

#correta {
  float: right;
  margin-top: -59px;
  width: 42px!important;
}

.cont_campos #correta {
  margin-top: 0px;
}
  
