.box_left { width: 293px;  margin-top: 10px; float: left;}
.box_right { width: 233px; margin-top: 10px;float: right;}
#gmap, #rota_gmap{ margin: 5px auto; height: 400px;}
#rota_gmap{ width: 280px; overflow: auto;}
